@mixin button-landing-style() {
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  margin-right: 5px;
  border: 1px solid white;
  border-radius: 5px;
  &:hover {
    color: black;
    border-color: transparent;
  }
}

.landing-page {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a2a72;
  background-image: linear-gradient(140deg, #2a2a72 0%, #009ffd 100%);

  &__content {
    color: white;
    width: fit-content;
    text-align: center;
    &__header {
      font-size: 45px;
      margin-bottom: 15px;
      &__logo {
        width: 7%;
        margin-right: 10px;
        margin-bottom: 15px;
      }
    }
    &__body {
      &__welcome-text {
        margin-bottom: 15px;
        font-size: 20px;
      }
      &__btn-login,
      &__btn-register {
        @include button-landing-style();
      }
    }
  }

  &__welcome {
    &__text {
      font-size: 25px;
      margin-bottom: 10px;
    }
    &__btn-redirect-activity {
      @include button-landing-style();
    }
  }
}
