.profile-page {
  margin-top: 50px;
  &__quickview-section {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding-left: 40px;
  }
  &__avatar {
    font-size: 50px;
    padding: 20px;
  }
  &__username {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
  }
  .ant-avatar.ant-avatar-icon {
    width: 100px;
    height: 100px;
  }
  &__quantity-activity {
    display: flex;
    justify-content: space-between;
    &__item {
      margin: 0 40px;
      font-size: 20px;
      text-align: center;
      margin-top: 15px;
    }
  }
  &__number-activity {
    margin: 0;
  }
  &__information-tabs {
    background-color: white;
    margin-top: 30px;
    padding: 40px;
  }
}
