.ant-row {
  background-color: #eaeaea;
  padding-bottom: 30px;
}

.activity-item {
  padding-top: 30px;
  .ant-card-body {
    padding: 0px;
  }
  &__label-date {
    padding: 5px 12px;
    background-color: #238dd3;
    color: white;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  &__card-activity {
    margin-top: 20px;
  }
  &__header-activity {
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid #e8e8e9;
  }
  &__info-header {
    margin-left: 20px;
    &__name-activity {
      font-size: 20px;
      margin: 0;
    }
    &__info-host {
      font-size: 14px;
      font-weight: 400;
      margin: 0;
    }
    &__person-host {
      color: blue;
    }
  }

  &__time-place-activity {
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid #e8e8e9;
    &__text {
      margin-left: 7px;
      margin-right: 7px;
    }
  }
  &__followers-info {
    padding: 10px 20px;
    background-color: #f3f4f5;
    border-bottom: 1px solid #e8e8e9;
    &__item {
      margin-right: 10px;
    }
  }
  &__footer {
    padding: 10px 20px;
    text-align: right;
    &__btn-view {
      border-radius: 5px;
      width: 70px;
    }
  }
}

.activity-filter {
  margin-left: 30px;
  margin-top: 71px;
  .anticon {
    margin-right: 8px;
  }

  &__list-filter {
    margin-bottom: 10px;
    background-color: white;
  }
  &__title {
    border: 1px solid #e8e8e9;
    padding: 10px;
    font-size: 18px;
    color: #00b5ad;
    background-color: white;
  }

  &__item-filter {
    border: 1px solid #e8e8e9;
    padding: 10px;
  }

  &__calendar {
    width: 345px;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
  }
}
