.activity-detail {
  max-width: 650px;
  margin-top: 50px;
  &__header-info {
    border: 1px solid #eeeeee;
    border-radius: 5px;
  }
  &__top-background {
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    padding: 10px 0 10px 20px;
  }

  &__header-info {
    background-color: white;
  }
  &__title {
    font-size: 24px;
  }
  &__name {
    color: rgb(7, 22, 230);
  }

  &__btn-event {
    width: 100%;
    height: 55px;
    padding: 5px 15px;
  }

  &__btn-manage {
    float: right;
    margin-top: 7px;
    .ant-btn-primary {
      background: orange;
      border-color: orange;
    }
  }

  &__btn-join {
    float: left;
    margin-top: 7px;
  }

  &__body-info {
    background-color: white;
    margin-top: 20px;
    font-size: 14px;
    border: 1px solid #eeeeee;
    border-radius: 5px;

    &__item {
      padding: 5px;
      border-bottom: 1px solid #eeeeee;
      padding: 10px 20px;
    }
  }
  &__icon {
    font-size: 18px;
    color: #00b5ad;
    margin-right: 10px;
  }

  &__chat {
    background-color: white;
    margin: 20px 0;
    border-radius: 5px;
    &__title {
      background-color: #00b5ad;
      padding: 10px 0;
      text-align: center;
      color: white;
      font-size: 16px;
    }
    &__content {
      padding: 20px;
    }
    &__comment {
      display: flex;
      align-items: center;
    }
  }
  &__name-commenter {
    font-weight: bold;
    font-size: 14px;
  }
  &__count-day {
    font-weight: 300;
    font-size: 12px;
    margin-left: 7px;
  }
  &__comment-content {
    font-weight: 500;
  }
  &__icon-user {
    font-size: 25px;
    color: white;
    margin-right: 10px;
    background-color: rgb(187, 54, 65);
  }
  .ant-input {
    height: 60px;
    margin: 15px 0;
  }
}
