@import 'assets/styles/variable-style';
$height-input: 38px;
$rounded-border: 5px;
$color: #00b5ad;

.modal-login {
  border-radius: $rounded-border;
  width: 350px !important;
  &__title {
    color: $color;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
  }
  .ant-modal-close {
    display: none;
  }
  .email-input {
    @include input-style();
  }

  .password-input {
    @include input-style();
  }

  &__btn-login {
    width: 100%;
    margin-top: 10px;
    border-radius: $rounded-border;
    height: $height-input;
    background-color: $color;
  }

  .ant-modal-header {
    border: none;
    padding-bottom: 0;
  }

  .ant-modal-footer {
    display: none;
  }

  .disabled {
    @include button-disable();
  }
  .error-message {
    @include error-message();
  }
}
