@import 'assets/styles/variable-style';

.modal-login {
  width: 350px !important;
  &__title {
    color: #06b6ae;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
  }
  &__email-input {
    @include input-text-style();
  }

  &__password-input {
    @include input-text-style();
  }

  &__btn-login {
    width: 100%;
    margin-top: 10px;
    border-radius: $rounded-border-input-text;
    height: $height-input-text;
    background-color: #06b6ae;
  }

  .ant-modal-header {
    border: none;
    padding-bottom: 0;
  }

  .ant-modal-footer {
    display: none;
  }

  .ant-modal-close {
    display: none;
  }

  .disabled {
    @include button-disable();
  }

  &__error-message {
    @include error-message();
  }
}
