$height-input: 38px;
$rounded-border: 5px;
$color: #00b5ad;
.modal-login {
  border-radius: $rounded-border;
  .title {
    color: $color;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
  }
  .ant-modal-close {
    display: none;
  }
  .email-input {
    height: $height-input;
    margin-bottom: 10px;
    border-radius: $rounded-border;
  }

  .password-input {
    height: $height-input;
    border-radius: $rounded-border;
  }

  .btn-login {
    width: 100%;
    margin-top: 10px;
    border-radius: $rounded-border;
    height: $height-input;
    background-color: $color;
  }

  .ant-modal-header {
    border: none;
    padding-bottom: 0;
  }

  .ant-modal-footer {
    display: none;
  }

  .disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .error-message {
    margin-top: 10px;
    padding: 14px 0px 34px 24px;
    border: 1px solid;
    height: $height-input;
    color: #d8000c;
    background-color: #ffbaba;
    border-radius: $rounded-border;
  }
}
