$height-input-text: 38px;
$rounded-border-input-text: 5px;

@mixin input-text-style {
  height: $height-input-text;
  margin-bottom: 10px !important;
  border-radius: $rounded-border-input-text !important;
}

@mixin error-message {
  font-weight: 400;
  margin-top: 10px;
  padding: 14px 0px 34px 24px;
  border: 1px solid;
  height: $height-input-text;
  color: #d8000c;
  background-color: #ffbaba;
  border-radius: $rounded-border-input-text;
}

@mixin button-disable {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
